
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.headerBanerListTitle{
  font-size: 32px;
  padding-left: 12px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.title_section h4{
  padding: 25px 0;
}

.title_section button{
  width: 30%;
}

.App_body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.App_body .title_section .subtitleMessage{
  padding: 15px 0 5px 0;
}

.img_section{
  height: 100%;
  width: 50%;
  background-color: #282c34;
  display: block;
  border-radius: 10px;
  margin-right: 25px;
}
.img_section img{
  width: 90%;
  height: 90%;
  padding: auto;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
